/* Fonts */
.fonts {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Text Settings */
.clickOn a {
    text-decoration: none;
}

/* Colors */

.bodyColor {
    background-color: #0E2954;
}

.clickOn a:hover {
    background-color: aquamarine;
}

.textColor1 {
    background-color: #1F6E8C;
    color: white;
}

.textColor2 {
    background-color: #2E8A99;
    color: white;
}

.stdTextColor{
    background-color: #54a7b4;
}

/* Alignment and sizing */

.alignCenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainHeader {
    width: 50%;
    padding: 10px;
    border-radius: 50px;
}

.recipeList {
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}